<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/(Re)vista-se.png" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/assets/smartmockups_kib70zrf.jpg" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/assets/smartmockups_kic7y0ir.jpg" alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Vem cá nos conhecer!</h2>
    </div>
</div>

<div class="container">
    <div class="row mb-5">
        <div class="col-3 text-center justify-content-center mt-3">
            <h3>A (Re)Vista-se</h3>
            <img clas="logotipo" src="assets/(Re)vista-se.png"
                alt="Logotipo da loja com fundo bege, o escrito (Re)Vista-se em preto e, embaixo dele, o desenho de uma arara preta com as seguintes peças penduradas: um blazer vermelho, uma blusa verde, um colete amarelo e uma calça laranja">
        </div>
        <div class="col-9 text-justify">
            <p>Nascemos da ideia de um grupo que queria transformar a relação de consumo no mercado de moda, trazendo
                uma
                opção mais sustentável e consciente. Nós somos mais que um ambiente de venda de produtos, somos uma rede
                engajada com pessoas que se preocupam com seu impacto no meio ambiente e na sociedade.Apoiamos pequenos
                produtores e suas marcas de produção em baixa escala, o que permite um pagamento justo a toda cadeia de
                envolvida no processo, além de peças especiais, de alta qualidade e que terão uma vida útil ainda mais
                longa. Também temos um espaço dedicado a diversos brechós, trazendo rotatividade para peças já criadas e
                dando um novo lar a roupas que poderão trazer alegria para outras pessoas, reduzindo assim a compra de
                produtos produzidos em larga escala e oferecendo um preço bacana e uma peça que vem com uma história,
                prontinha para vestir novos corpos. Outra área incrível da (Re)Vestir-se é a de Trocas! Oferecemos às
                nossas
                clientes um ambiente seguro que permite a troca de conhecimento, dicas e, claro, roupas! Sabe aquela
                peça
                que você tem guardada em casa e nunca mais usou? Que tal trocar por uma peça que é a sua cara? Uma vez
                por
                mês abrimos nosso espaço físico para que nossas clientes venham trocar suas peças e aumentar sua rede de
                amizades! Pra finalizar com chave de ouro temos um blog! Espacinho dedicado a trazer informações e dicas
                para nossa rede, bora dar uma olhadinha?</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-9 text-justify mt-5">
            <p>Mas o que é Slow Fashion? É um termo que surgiu em 2014 para descrever marcas que produzem peças em baixa
                escala, levando em consideração as pessoas envolvidas no processo e os consumidores, o meio ambiente e
                os animais. É moda feita de forma consciente. Nossos parceiros nesse ramo prezam pela qualidade do
                produto, o excelente atendimento ao cliente, peças feitas em pequenas quantidades e, algumas, sob
                encomenda e sob medida, para atender a uma demanda específica, impedindo assim desperdícios e um gasto
                desnecessário de recursos naturais. Abaixo nossos parceiros! Sigam-os no Instagram para saber mais sobre
                seus negócios!</p>

            </div>
            <div class="text-center justify-content-center">
                <img class="logotipo w-50" src="/assets/conheçaNossaEquipe.png"
                    alt="Imagem de fundo dourado com corações e uma frase escrito: conheça o time que faz a (Re)vista-se acontcer!">
            </div>
            <div class="text-justify mt-5">
                <h2>Nosso time é composto por 5 integrantes sendo cada um responsável por cuidar do nosso site, e
                    sendo eles:</h2>
            </div>

            <div class="row mb-5"></div>
            <div class="container w-100" style="background-color: #FFD5BE">

                <div class="row w-100 mt-4 mb-4">
                    <div class="card-deck justify-content-center" style="margin-left: 15px">
                        <div class="card">
                            <img src="assets/zaine.jpg" class="card-img-top" alt="Logo marca da (Re)vista-se">
                            <div class="card-body">
                                <h5 class="card-title">Zaine</h5>
                                <p class="card-text">
                                    Responsável pelos negócios do site
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btns">
                                    <!--Botões-->
                                    <a  routerLink="#">Linkedin</a>
                                    <a  routerLink="/clube">GitHub</a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="assets/juliana.jpg" class="card-img-top" alt="Sacola com produtos diversos ao seu redor" style="width: 500px; height: 320px;">
                            <div class="card-body">
                                <h5 class="card-title">Juliana</h5>
                                <p class="card-text">
                                    Responsável pela engenharia do software
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btns">
                                    <!--Botões-->
                                    <a  routerLink="/shop">Linkedin</a>
                                    <a  routerLink="/clube">GitHub</a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="assets/monica.jpg" class="card-img-top" alt="Modelo feminina posando com um top amarelo" style="width: 500px; height: 320px;">
                            <div class="card-body">
                                <h5 class="card-title">Monica</h5>
                                <p class="card-text">
                                Responsável pelo Marketing do site
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btns">
                                    <!--Botões-->
                                    <a  routerLink="#">Linkedin</a>
                                    <a  routerLink="/clube">GitHub</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="mt-4 mb-4">
                        <div class="card-deck" style="margin-left: 15px">
                            <div class="card">
                                <img src="assets/ricardo.jpg" class="card-img-top" alt="Modelo feminina posando com um moletom estampado com a logo marca da (Re)vista-se" style="width: 500px; height: 320px;">
                                <div class="card-body">
                                    <h5 class="card-title">Ricardo</h5>
                                    <p class="card-text">
                                       Responsável pelo desenvolvimento do site
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="btns">
                                        <!--Botões-->
                                        <a  routerLink="#">Linkedin</a>
                                        <a  routerLink="/clube">GitHub</a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <img src="assets/eu.jpg" class="card-img-top" alt="Modelo masculino posando com uma camiseta estampada com estrelas e a palavra reivente-se" style="width: 500px; height: 320px;">
                                <div class="card-body">
                                    <h5 class="card-title">Wesley</h5>
                                    <p class="card-text">Responsável pela UI/UX do site</p>
                                </div>
                                <div class="card-footer">
                                    <div class="btns">
                                        <!--Botões-->
                                        <a  routerLink="/clube">Linkedin</a>
                                        <a  routerLink="/clube">GitHub</a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <img src="assets/(Re)vista-se.png" class="card-img-top" alt="Camiseta estampada com um sol de olho abaixo da palavra redescubra" style="width: 500px; height: 320px;">
                                <div class="card-body">
                                    <h5 class="card-title">Nosso Blog</h5>
                                    <p class="card-text">
                                        Além de peças incríveis, também trazemos notícias, matérias e novidades que vão fazer a
                                        diferença no seu dia-a-dia! Só clicar no botão abaixo para ficar por dentro de tudo!
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="btns">
                                        <!--Botões-->
                                        <a  routerLink="/blog">Leia mais aqui</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="row mb-5"></div>
            <h2>POLÍTICA DE TROCA, DEVOLUÇÃO E ARREPENDIMENTO</h2>
            <p>


                A (RE)Vista-se utiliza tecnologia de ponta para a fabricação de seus produtos, primando pela qualidade e
                satisfação de seus clientes. Pelo respeito e para que seja mantida a credibilidade conquistada junto aos
                seus consumidores, a empresa criou uma política de troca e devolução de acordo com o Código de Defesa do
                Consumidor, e preocupada para que você (cliente) obtenha uma negociação eficaz, ágil e principalmente
                satisfatória.

                Caso opte pelo contato via correio eletrônico ou telefônico, será encaminhado a você o formulário para
                preenchimento e envio junto à(s) peça(s). O produto devolvido sem esse formulário e/ou sem a comunicação
                ao SAC será reenviado sem consulta prévia.

                Ao efetuar o processo de devolução/troca o cliente deverá no verso da nota fiscal a ser
                devolvida/trocada, informar o motivo da devolução/troca, o nome de quem está devolvendo, CPF e a data da
                devolução.

                Observando as seguintes condições: O produto não poderá ter indícios de uso.

                O produto deverá ser encaminhado preferencialmente na embalagem original, acompanhado de nota fiscal,
                etiquetas, tags (etiqueta com código de referência do produto) devidamente fixada no produto e todos os
                seus acessórios.

                Ao efetuar o processo de devolução o cliente deverá no verso da nota fiscal a ser devolvida, informar o
                motivo da recusa/devolução, o nome de quem está devolvendo, CPF e a data da devolução.</p>

            <div class="row mb-5"></div>
            <h2>POLÍTICA DE PRIVACIDADE</h2>
            <p>


                A sua privacidade é importante para nós. É política do (RE)Vestir-se respeitar a sua privacidade em
                relação a qualquer informação sua que possamos coletar no site (RE)Vestir-se , e outros sites que
                possuímos e operamos.

                Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço.
                Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que
                estamos coletando e como será usado.

                Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando
                armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos,
                bem como acesso, divulgação, cópia, uso ou modificação não autorizados.

                Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando
                exigido por lei.

                O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não
                temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas
                respectivas políticas de privacidade.

                Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não
                possamos fornecer alguns dos serviços desejados.

                O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de
                privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário
                e informações pessoais, entre em contacto connosco.</p>
        </div>