

<!--Header-->
<div class="texto d-flex justify-content-center">
    <h1>Venha fazer parte do clube (Re)vista-se</h1>
    <p>Selecione o plano que mais combina com você e desfrute de vantagens exclusivas!</p>
</div>

<!--/Header-->




<!--card deck-->
<div class="container">
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/smartmockups_kic81kpf.jpg" alt="Modelo masculino posando com um moletom">
      <div class="card-body">
        <h5 class="card-title">Redescubra!</h5>
        <p class="card-text">Plano mensal no valor de 9,90 que te dá acessos aos benefícios:</p>
        <ul>
          <li>Frete grátis</li>
          <li>Ofertas vista-se plus</li>
          <li>3 impusionamentos gratuitos em trocas</li>
          <li>CashBack em compras acima de 150 reais</li>
        </ul>
        
      </div>
      <button>Assinar</button>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/smartmockups_kic9pby2.jpg" alt="Modelo masculino posando com uma blusa longa">
      <div class="card-body">
        <h5 class="card-title">Reinvente!</h5>
        <p class="card-text">Plano mensal no valor de 19,90 que te dá acessos aos benefícios:</p>
        <ul>
          <li>Frete grátis</li>
          <li>Ofertas vista-se plus</li>
          <li>10 impusionamentos gratuitos em trocas</li>
          <li>CashBack em compras acima de 150 reais</li>
          <li>Cupons de desconto mensais</li>
          <li>Acesso ao (Re)vista-se day</li>
        </ul>
       
      </div>
      <button>Assinar</button>
    </div>
  
  </div>
</div>
<!--/card deck-->
