<!--Header-->
<div class="texto d-flex justify-content-center mt-5 mb-5">
    <h1>Nossas lojas</h1>

</div>
<!--/Header-->

<!--Cards-->

<div class="container w-100">
    <div class="card mb-5" style="max-width: d-flex;  background-color:#FFD5BE">
        <div class="row no-gutters align-items-center ml-3">
            <div class="col-md-5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.9414016492233!2d-46.645713485542814!3d-23.570547967815543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59ba0542596d%3A0x268bf60fc6e5361c!2sR.%20Treze%20de%20Maio%2C%201947%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001327-001!5e0!3m2!1spt-BR!2sbr!4v1607268950578!5m2!1spt-BR!2sbr"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>

            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">Loja 1</h5>
                    <p class="card-text">Rua Treze de Maio, 1947
                        Bela Vista São Paulo - SP
                    </p>
                    <p class="card-text">CEP: 01327-900</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container w-100">
    <div class="card mb-5" style="max-width: d-flex; background-color:#FFD5BE">
        <div class="row no-gutters align-items-center">

            <div class="col-md-7 ">
                <div class="ml-5 card-body justify-content-center">
                    <h5 class="card-title">Loja 2</h5>
                    <p class="card-text">R. Dr. João Ribeiro, 304 - Penha de França, São Paulo - SP</p>
                    <p class="card-text">CEP: 03634-900</p>
                </div>
            </div>
            <div class="col-md-5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.205103150277!2d-46.54899588502278!3d-23.525124384700838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e5052f6c53f%3A0x4adfe0fe9da967a2!2sR.%20Dr.%20Jo%C3%A3o%20Ribeiro%2C%20304%20-%20Penha%20de%20Fran%C3%A7a%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1607266600326!5m2!1spt-BR!2sbr"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>

            </div>
        </div>
    </div>
</div>

<div class="container w-100">
    <div class="card mb-5" style="max-width: d-flex;  background-color: #FFD5BE">
        <div class="row no-gutters align-items-center ml-3">
            <div class="col-md-5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.3771207442387!2d-46.58246648554127!3d-23.626661769890912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5c92c88dee33%3A0x12136d47512bea3b!2sParkShopping%20S%C3%A3o%20Caetano!5e0!3m2!1spt-BR!2sbr!4v1607269317760!5m2!1spt-BR!2sbr"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">Loja 3</h5>
                    <p class="card-text">Alameda Terracota Nº 545, Espaço Cerâmica
                        São Caetano do Sul - SP
                    </p>
                    <p class="card-text">CEP: 09531-190</p>
                </div>
            </div>
        </div>
    </div>
</div>