 <!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4 text-ligth">Moda Consciente</h2>
        </div>
    </div>
    <!--/Jumbotron-->

    <!--Cards-->
    <div class="container">
        <div class="card-columns">


            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="/assets/consumismoConsciente.jpg"alt="Illustração de um cabideiro de roupas com duas mãos jogando dinheiro">
                    <h5 class="card-title">Sobre consumismo consciente</h5>
                    <p class="card-text">
                        Com a chegada da “fast fashion”, modelo de negócio que promove uma troca cada vez mais rápida de
                        coleções e incentivando um consumo acelerado, a sociedade passou a consumir uma quantidade
                        crescente de roupas – o que aumentou os impactos na sociedade e no meio ambiente. O consumidor
                        consciente leva em consideração esses impactos na hora da compra, do uso e do descarte das suas
                        roupas e acessórios.</p>
                    <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="/assets/importanciaModaSustentavel.jpg "
                    alt="Simbolo da reciclagem feito de tecidos">
                    <h5 class="card-title">Qual a importância da moda sustentável?</h5>
                    <p class="card-text">Ela, basicamente, defende a redução dos poluentes na produção de roupas,
                        sapatos e acessórios, impactando o mínimo possível no meio ambiente, prosperidade social e
                        econômica. Adotar medidas sustentáveis no varejo de moda pode transformar positivamente a sua
                        empresa</p>
                    <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="/assets/doe.jpg"
                    alt="Cesto de roupas sobre uma mão">
                    <h5 class="card-title">Doe</h5>
                    <p class="card-text">Quando pensamos em descarte, é comum que o primeiro pensamento seja o da
                        doação. Mas, o ato de doar roupas não deve ser visto como uma forma de “se livrar” delas. O
                        ideal é buscar saber se essas peças serão mesmo úteis para quem irá recebê-las e verificar se as
                        roupas que queremos doar estão em boas condições.

                        Fique atento aos seguintes pontos quando for doar:
                        • Se os itens vão para uma pessoa conhecida, garanta que a numeração esteja correta.
                        • Se as roupas vão para uma ONG ou instituição, entenda o trabalho dela e para quem ela as
                        destina. Essa atitude aumenta a chance de que o que foi doado realmente seja aproveitado.</p>
                    <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="/assets/troqueSuasPecas.jpg" 
                    alt="Cabideiro com várias camisetas">
                    <h5 class="card-title">Troque suas peças por outra</h5>
                    <p class="card-text">Trocar roupas é um comportamento de consumo consciente, pois a peça ganha uma
                        vida mais longa quando passa pelo guarda-roupa de mais de uma pessoa. Caso substitua a compra de
                        uma nova roupa, a troca representa ainda uma economia financeira. Feita entre pessoas
                        conhecidas, em bazares, feiras ou em lojas de segunda mão, tanto faz. Todas as partes saem
                        beneficiadas nessa atitude que poderia ser mais explorada pelas pessoas.</p>
                    <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img class="card-img-top"
                        src="/assets/DicascuidarDasRoupas.png"
                        alt="Bula de recomendações de tratamento de roupas">
                    <h5 class="card-title">8 dicas simples para cuidar das suas roupas</h5>
                    <p class="card-text">1-Não lave suas roupas com tanta frequência</p>
                    <p>2-Diminua a temperatura da lavagem</p>
                    <p>3-Siga as instruções de lavagem</p>
                    <p>4-Prefira o varal à secadora</p>
                    <p>5-Passe com menos frequência</p>
                    <p>6-Separe as roupas coloridas das brancas e pretas. Isso evita que uma peça acabe manchando as
                        outras.</p>
                    <p>7-Siga as instruções de quantidades de produto (amaciante, sabão em pó, alvejante, etc) a serem
                        usada</p>
                    <p>8-Não lote a máquina de lavar de coisas, as roupas precisam ter espaço dentro da máquina para se
                        movimentarem.</p>
                    <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                </div>
            </div>


        </div>

        <!--/Cards-->

    </div>

    
