<!--Carrosel-->

<div id="carouselExampleIndicators" class="carousel slide d-block w-100" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/smartmockups_kica6goy.jpg" alt="Modelo feminina posando com uma camiseta florida">
            <div class="carousel-caption d-none d-md-block">
                <h5>Realize trocas com outros usuários!</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/smartmockups_kic89mtb.jpg" alt="Modelo femina posando com uma camiseta estampada com uma lua">
            <div class="carousel-caption d-none d-md-block">
                <h5>Compartilhe estilos!</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/smartmockups_kica4zt3.jpg" alt="Modelo femina posando com uma blusa florida">
            <div class="carousel-caption d-none d-md-block">
                <h5>Se Reinvente!</h5>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<!--/Carrosel-->

<div class="quadro d-flex">

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/0b7f1fcc-48c9-4e4b-bb47-5d61c93c6935.jpeg" alt="Imagem do prodouto calça de veludo">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Calça veludo</div>
                <p>Unisex</p>
                <div class="price">TROCA</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">

                        <span class="active">M</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Anunciante</div>
                    <div class="colour-value">
                        <p>Anna Júlia</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <button onclick='alerta()'>Tenho interesse</button>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/e9213cdc-ea74-4106-a0a4-8395fe43c9f5.jpeg" alt="Modelo feminina posando com a camiseta walker">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Camiseta Walker</div>
                <p>Unisex</p>
                <div class="price">TROCA</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">

                        <span class="active">P</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Anunciante</div>
                    <div class="colour-value">
                        <p>Beatriz Santos</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <button onclick='alerta()'>Tenho interesse</button>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/25d6af5f-8b2f-4c26-bf0c-b49e873abee2.jpeg" alt="Modelo masculino posando com a camiseta aquarela">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Camiseta Aquarela</div>
                <p>Unisex</p>
                <div class="price">TROCA</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">
                        <span class="active">G</span>

                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Anunciante</div>
                    <div class="colour-value">
                        <p>Vinicíus Fernandez</p>
                    </div>
                </div>
                <div class="btns" >
                    <!--Botões-->
                    <button onclick='alerta()'>Tenho interesse</button>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/gariplus.png" alt="Imagem do produto camiseta tell me">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Camiseta Tell Me</div>
                <p>Unisex</p>
                <div class="price">TROCA</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">

                        <span class="active">M</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Anunciante</div>
                    <div class="colour-value">
                        <p>Gari Plus</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <button onclick='alerta()'>Tenho interesse</button>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/pannosbrecho.png" alt="Modelo feminina posando com o vestido cats">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Vestido Cats</div>
                <p>Unisex</p>
                <div class="price">TROCA</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">

                        <span class="active">G</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Anunciante</div>
                    <div class="colour-value">
                        <p>Pannos brecho</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <button onclick='alerta()'>Tenho interesse</button>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>

    <div class="container">

        <!--Começo do container-->
        <div class="image">
            <img src="assets/smartmockups_kicb88g9.png" alt="Modelo masculino posando com a regata vida">
            <!--Imagem do card-->
        </div>
        <div class="card-content">
            <!--Inicio do conteúdo do card-->
            <div class="wrapper">
                <div class="title">Regata Vida</div>
                <p>Unisex</p>
                <div class="price">TROCA</div>
                <div class="content-size">
                    <!--Tamanhos-->
                    <div class="name size-name">Tamanhos</div>
                    <div class="size-value">

                        <span class="active">M</span>
                    </div>
                </div>
                <div class="content-colour">
                    <!--Cores-->
                    <div class="name colour-name">Anunciante</div>
                    <div class="colour-value">
                        <p>Robson Gomes</p>
                    </div>
                </div>
                <div class="btns">
                    <!--Botões-->
                    <button onclick='alerta()'>Tenho interesse</button>

                </div>
            </div>
            <!--fim do conteúdo do card-->
        </div>
    </div>



</div>
