<footer class="page-footer font-small pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-6 mb-3">
                <h5 class="text-light text-center mb-3">Sobre nós</h5>
                <p class="text-light text-justify">Somos um ponto de encontro para todes que buscam fazer sua própria
                    moda, de forma consciente. Reunimos diversos brechós e pequenos negócios que produzem peças em
                    pequena escala, além de diversas pessoas engajadas na causa que criam uma grande comunidade dedicada
                    a trazer um impacto positivo ao mundo, de peça em peça.</p>
            </div>
            <div class="col-md-6 mb-3">
                <h5 class="text-light text-center d-flex justify-content-center mb-3">Siga-nos nas redes sociais</h5>
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="social-network">
                        <li><a href="https://www.facebook.com/ReVista-se-108238044478377" target="_blank"
                                class="icoFacebook" title="Facebook">
                                <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
                            </a></li>
                        <li><a href="https://instagram.com/re_vis_ta_se?igshid=em0wvxaze6q3" target="_blank"
                                class="icoInstagram" title="Instagram">
                                <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center color">
            <div class="col-md-12 mt-4 ">
                <p class="text-light">(Re)Vista-se S. A. Todos os direitos reservados </p>
            </div>
        </div>
    </div>
</footer>